---
Language: Cpp
BasedOnStyle: LLVM
AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: OnePerLine
ContinuationIndentWidth: 2
PackConstructorInitializers: Never
PenaltyBreakAssignment: 1000
PenaltyBreakBeforeFirstCallParameter: 0
...
